<header class="header">
  <div class="progress-wrap" aria-hidden="true">
    <div class="progress" [style.width.%]="((progress$ | async) || 0) * 100"></div>
  </div>

  <div class="container">
    <a href="/" class="logo">YN</a>
    <nav class="nav-links">
      <a href="/" class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Home</a>
      <a href="/projects" class="nav-link" [routerLink]="['/projects']" [routerLinkActive]="['active']">Projects</a>
      <a href="/timeline" class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">Timeline</a>
      <a href="/contact" class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a>
    </nav>
  </div>
</header>